body {
    background-color: #504A4A
}

h2 {
    color: white;
}

.panel > .panel-heading {
    background-color: #F78F3F
}

.panel {
    background-color: #504A4A;
    border: solid 1px white;
    text-align: center;
    height: 450px;
}

.charDescription {
    color: #E23636;
}

/* ------ Images ------- */

.charImage {
    border-radius: 100%;
}

.maleImage {
    border: solid 5px #518CCA;
}

.femaleImage {
    border: solid 5px pink;
}